@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --color-primary: #6333ff;
  --color-primary-hover: #7347ff;
  --color-primary-focus: #4c14ff;

  --color-error: #ff3364;
  --color-success: #0eb56f;

  --color-white: #ffffff;
  --color-headline: #eef5f8;
  --color-lighter: #778cac;
  --color-darker: #3e4859;
  --color-dark1: #15151b;
  --color-dark2: #1a1a22;
  --color-dark3: #22222c;
  --color-dark4: #212330;

  --text-caption: 0.875rem;
  --text-base: clamp(0.875rem, 0.7721rem + 0.3922vw, 1.125rem);
  --text-md: clamp(1rem, 0.8971rem + 0.3922vw, 1.25rem);
  --text-headline: clamp(1.5rem, 0.525rem + 4vw, 4.125rem);

  --text-preview: 1rem;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark1);
  color: var(--color-headline);
  font-size: 16px;
}

.gradient {
  background: linear-gradient(90.6deg, #5e36f2 0%, #bf2bc3 99.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
